div{

    background-color: blanchedalmond;
    padding: 10px;
    border: 10px solid olive;
    border-radius: 7px;
    margin: 5px;
}
h3{
    text-align: center;
}
body{
    background-color:  cadetblue;
}